:root {
    --logo--blue: #33348E;
    --logo--red: #CC2229;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p, button, a {
  font-size: 20px;
}
a{
  text-decoration: none;
}
/* Global Custom Styles */
.btn{
 background-color: #33348E;
 color: white;
 border-radius: 15px;
 padding: 15px;
 height: fit-content;
}
.btn:hover{
  background-color: var(--logo--red);
}
.bold{
  font-weight: 600;
}
/* Footer */
footer{
  display: grid;
  padding-block: 2rem;
  grid-template-areas: 
  "footer1 footer2 footer3"
  "footer4 footer4 footer4";
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer1{
  grid-area: footer1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--logo--blue);
}
.footer1>img{
  width: 200px;
}
.footer2{
  grid-area: footer2;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer2>li>a{
  color: var(--logo--blue);
  font-weight: 600;
}
.footer2>li>a:hover{
  color: var(--logo--red);
}
.footer3{
  grid-area: footer3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  font-weight: 600;
}
.footer3>li>a{
  color: var(--logo--blue);
}
.footer3>li>a:hover{
  color: var(--logo--red);
}
.footer4{
  margin-top: 0.5rem;
  grid-area: footer4;
  display: flex;
  justify-content: center;
}
/* Header */
header{
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  height: fit-content;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.logo-container {
  margin-left: 5rem;
  height: 200px;
}
.logo-container img{
  height: 100%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
nav menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
nav menu li{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
nav menu li a{
  min-width: 75px;
  display: flex;
  padding-inline: 2rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  color: var(--logo--blue);
}
nav menu li a:hover{
  color:  var(--logo--red);
}
.svg-container{
  display: none;
  height: 25px;
  margin-right: 2rem;
  width: auto;
}
.svg-container img{
  height: 100%;
  width: auto;
}
/* Mobile Display */
.is-active{
    display: flex;
}
/* INDEX */
.why-index{
  display: grid;
  padding-inline: 2rem;
  padding-bottom: 2rem;
  grid-template-areas:
  "why-title why-title" 
  "why-item1 why-item2"
  "why-item3 why-item3";
}
.why-title{
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: var(--logo--blue);
  padding-block: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  grid-area: why-title;
}
.index-why-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: why-item1;
}
.index-why-2{
  grid-area: why-item2;
  width: 50vw;
}
.index-why-2>img{
  width: 100%;
}
.index-why-3{
  display: flex;
  grid-area: why-item3;
  justify-content: flex-end;
  align-items: center;
}
.hero-index{
  display: grid;
  padding-block: 2rem;
  grid-template-areas: 
  "item1 item2"
  "item3 item3";
}
.button-container{
  display: flex;
  gap: 1rem;
}
.hero-item1{
    grid-area: item1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
.hero-item1>img{
    width: 500px;
  }
.hero-item2{
    grid-area: item2;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
  }
.hero-item2>img{
    width: 200px;
  }
.hero-item3{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: item3;
  }
.hero-item3>p{
    width: 800px;
  }
@media only screen and (max-width: 830px) {
  /* Index Stuff */
.hero-index{
  display: grid;
  place-items: center;
  grid-template-areas: 
  "item1"
  "item3"
  "item2";
}
.hero-item1{
    justify-content: center;
  }
.hero-item1>img{
    width: 100%;
  }
.hero-item3>p{
  padding: 1rem;
  margin-top: 1rem;
    width: 100%;
  }

.why-index{
  display: grid;
  padding-inline: 2rem;
  padding-bottom: 2rem;
  grid-template-areas:
  "why-title why-title" 
  "why-item1 why-item1"
  "why-item2 why-item3"
}
.index-why-2{
  grid-area: why-item2;
  width: 40vw;
}
  /* FOOTER */
  footer{
  display: grid;
  place-items: center;
  grid-template-areas: 
  "footer2 footer3"
  "footer1 footer1"
  "footer4 footer4"
}
  /* Header Stuff */
  .logo-container {
  margin-left: 0.5rem;
  height: 150px;
}
  header{
    position: sticky;
    top: 0;
    height: fit-content;
  }
  .svg-container{
    display: flex;
  }
  nav menu{
    display: none;
    top: 150px;
    margin: 0;
    position: absolute;
    flex-direction: column;
    background-color: #f8f8f8;
    height: 25vh;
    gap: 1rem;
    width: 100vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  nav menu li{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100vw;
}
nav menu li a{
  width: 100%;
  color: var(--logo--blue);
}
nav menu li a:hover{
  color: var(--logo--blue);
  background-color: #f8f8f8;
}
}