<div class="footer1">
            <a href="./index.html">
                <img src="./svg/logo.svg" alt="">
            </a>
                <div class="footer-socials">
                    <!-- Links do not work as this company does not have socials-->
                     <a href=""><img src="./svg/instaSVG.svg" alt="Instragram Logo"></a>
                     <a href=""><img src="./svg/xSVG.svg" alt="X Logo"></a>
                     <a href=""><img src="./svg/facebookSVG.svg" alt="Facebook Logo"></a>
                </div>
        </div>
        <ul class="footer2">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./shop.html">Shop</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
        <ul class="footer3">
            <li>1200 Wilson Drive</li>
            <li>West Chester PA 19380</li>
            <li><a href="tel:5554567891">(555) 456-7891</a></li>
        </ul>
        <p class="footer4">
            © 2025 Commodore. All rights reserved.
        </p>